service android-hardware-media-c2-hal-1-0 /vendor/bin/hw/android.hardware.media.c2@1.0-service
    class hal
    user mediacodec
    group camera mediadrm drmrpc
    ioprio rt 4
    writepid /dev/cpuset/foreground/tasks

