service performanced /system/bin/performanced
  class core
  user root
  group system readproc
  socket pdx/system/performance/client stream 0666 system system u:object_r:pdx_performance_client_endpoint_socket:s0
