
service installd /system/bin/installd
    class main

on early-boot
    mkdir /config/sdcardfs/extensions/1055
    mkdir /config/sdcardfs/extensions/1056
    mkdir /config/sdcardfs/extensions/1057
    mkdir /config/sdcardfs/extensions/1056/3gpp
    mkdir /config/sdcardfs/extensions/1056/3gp
    mkdir /config/sdcardfs/extensions/1056/3gpp2
    mkdir /config/sdcardfs/extensions/1056/3g2
    mkdir /config/sdcardfs/extensions/1056/avi
    mkdir /config/sdcardfs/extensions/1056/dl
    mkdir /config/sdcardfs/extensions/1056/dif
    mkdir /config/sdcardfs/extensions/1056/dv
    mkdir /config/sdcardfs/extensions/1056/fli
    mkdir /config/sdcardfs/extensions/1056/m4v
    mkdir /config/sdcardfs/extensions/1056/ts
    mkdir /config/sdcardfs/extensions/1056/mpeg
    mkdir /config/sdcardfs/extensions/1056/mpg
    mkdir /config/sdcardfs/extensions/1056/mpe
    mkdir /config/sdcardfs/extensions/1056/mp4
    mkdir /config/sdcardfs/extensions/1056/vob
    mkdir /config/sdcardfs/extensions/1056/qt
    mkdir /config/sdcardfs/extensions/1056/mov
    mkdir /config/sdcardfs/extensions/1056/mxu
    mkdir /config/sdcardfs/extensions/1056/webm
    mkdir /config/sdcardfs/extensions/1056/lsf
    mkdir /config/sdcardfs/extensions/1056/lsx
    mkdir /config/sdcardfs/extensions/1056/mkv
    mkdir /config/sdcardfs/extensions/1056/mng
    mkdir /config/sdcardfs/extensions/1056/asf
    mkdir /config/sdcardfs/extensions/1056/asx
    mkdir /config/sdcardfs/extensions/1056/wm
    mkdir /config/sdcardfs/extensions/1056/wmv
    mkdir /config/sdcardfs/extensions/1056/wmx
    mkdir /config/sdcardfs/extensions/1056/wvx
    mkdir /config/sdcardfs/extensions/1056/movie
    mkdir /config/sdcardfs/extensions/1056/wrf
    mkdir /config/sdcardfs/extensions/1057/bmp
    mkdir /config/sdcardfs/extensions/1057/gif
    mkdir /config/sdcardfs/extensions/1057/jpg
    mkdir /config/sdcardfs/extensions/1057/jpeg
    mkdir /config/sdcardfs/extensions/1057/jpe
    mkdir /config/sdcardfs/extensions/1057/pcx
    mkdir /config/sdcardfs/extensions/1057/png
    mkdir /config/sdcardfs/extensions/1057/svg
    mkdir /config/sdcardfs/extensions/1057/svgz
    mkdir /config/sdcardfs/extensions/1057/tiff
    mkdir /config/sdcardfs/extensions/1057/tif
    mkdir /config/sdcardfs/extensions/1057/wbmp
    mkdir /config/sdcardfs/extensions/1057/webp
    mkdir /config/sdcardfs/extensions/1057/dng
    mkdir /config/sdcardfs/extensions/1057/cr2
    mkdir /config/sdcardfs/extensions/1057/ras
    mkdir /config/sdcardfs/extensions/1057/art
    mkdir /config/sdcardfs/extensions/1057/jng
    mkdir /config/sdcardfs/extensions/1057/nef
    mkdir /config/sdcardfs/extensions/1057/nrw
    mkdir /config/sdcardfs/extensions/1057/orf
    mkdir /config/sdcardfs/extensions/1057/rw2
    mkdir /config/sdcardfs/extensions/1057/pef
    mkdir /config/sdcardfs/extensions/1057/psd
    mkdir /config/sdcardfs/extensions/1057/pnm
    mkdir /config/sdcardfs/extensions/1057/pbm
    mkdir /config/sdcardfs/extensions/1057/pgm
    mkdir /config/sdcardfs/extensions/1057/ppm
    mkdir /config/sdcardfs/extensions/1057/srw
    mkdir /config/sdcardfs/extensions/1057/arw
    mkdir /config/sdcardfs/extensions/1057/rgb
    mkdir /config/sdcardfs/extensions/1057/xbm
    mkdir /config/sdcardfs/extensions/1057/xpm
    mkdir /config/sdcardfs/extensions/1057/xwd
    mkdir /config/sdcardfs/extensions/1055/aac
    mkdir /config/sdcardfs/extensions/1055/aac
    mkdir /config/sdcardfs/extensions/1055/amr
    mkdir /config/sdcardfs/extensions/1055/awb
    mkdir /config/sdcardfs/extensions/1055/snd
    mkdir /config/sdcardfs/extensions/1055/flac
    mkdir /config/sdcardfs/extensions/1055/flac
    mkdir /config/sdcardfs/extensions/1055/mp3
    mkdir /config/sdcardfs/extensions/1055/mpga
    mkdir /config/sdcardfs/extensions/1055/mpega
    mkdir /config/sdcardfs/extensions/1055/mp2
    mkdir /config/sdcardfs/extensions/1055/m4a
    mkdir /config/sdcardfs/extensions/1055/aif
    mkdir /config/sdcardfs/extensions/1055/aiff
    mkdir /config/sdcardfs/extensions/1055/aifc
    mkdir /config/sdcardfs/extensions/1055/gsm
    mkdir /config/sdcardfs/extensions/1055/mka
    mkdir /config/sdcardfs/extensions/1055/m3u
    mkdir /config/sdcardfs/extensions/1055/wma
    mkdir /config/sdcardfs/extensions/1055/wax
    mkdir /config/sdcardfs/extensions/1055/ra
    mkdir /config/sdcardfs/extensions/1055/rm
    mkdir /config/sdcardfs/extensions/1055/ram
    mkdir /config/sdcardfs/extensions/1055/ra
    mkdir /config/sdcardfs/extensions/1055/pls
    mkdir /config/sdcardfs/extensions/1055/sd2
    mkdir /config/sdcardfs/extensions/1055/wav
    mkdir /config/sdcardfs/extensions/1055/ogg
    mkdir /config/sdcardfs/extensions/1055/oga
